.radial-wrapper {
  background: url(/button/logo_circle.svg) no-repeat center;
}

.radial-btn {
  position: relative;
  display: inline-block;
  /* top: -28px; */
  width: 188px;
  height: 92px;
  line-height: 92px;
  /* clip-path: url(#clipping-path-1); */
  background: transparent url(/button/bg_normal.svg) no-repeat center center / 188px auto;
}

.radial-btn:active,.radial-btn[data-active=true] {
  background:transparent url(/button/bg_active.svg) no-repeat center center / 244px auto;
}