@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary-rgb: 0, 255, 238;
    --color-button-bg: rgba(29, 36, 46, 0.52);
    /* --color-primary: #00FFEE; */
  }
}

:root {
  --foreground-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: #010022;
}

#content {
  /* min-width: 800px;
  min-height: 400px; */
  /* background:
  content-box no-repeat left center / auto 100% url(/bg_border_l.svg),
  no-repeat right center / auto 100% url(/bg_border_r.svg); */
  /* background:
    content-box no-repeat left center / auto 100% url(/bg_border_l.svg); */
}

#content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding-right: 100px;
  background: content-box no-repeat left center / auto 100% url(/bg_border_l.svg);
}

#content::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100px;
  background: no-repeat right center / auto 100% url(/bg_border_r.svg);
}

.home-button {
  font-weight: 400;
  color: rgb(var(--color-primary-rgb));
  background: var(--color-button-bg);
  box-shadow: inset 0px 0px 32px 1px rgb(var(--color-primary-rgb));
  border: 1px solid rgb(var(--color-primary-rgb));
}

.home-button:active,.home-button[data-active='true'] {
	background-color: rgb(var(--color-primary-rgb));
	color: #030322;
}

