@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary-rgb: 0, 255, 238;
    --color-button-bg: rgba(29, 36, 46, 0.52);
    --color-img-bg: #141a25;
    --black: #030322;
    /* --color-primary: #00FFEE; */
  }
}

:root {
  --foreground-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: #010022;
  padding: 0 480px;
  min-width: 4850px;
  position: relative;
  min-height: max(100vh, 1000px);
}

/* 滚动条 */
::-webkit-scrollbar-thumb {
  /*水平滚动条的样式*/
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-border-radius: 4px;
}
::-webkit-scrollbar-track-piece {
  background-color: transparent; /*滚动条的背景颜色*/
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

#content {
  /* min-width: 800px;
  min-height: 400px; */
  /* background:
  content-box no-repeat left center / auto 100% url(/bg_border_l.svg),
  no-repeat right center / auto 100% url(/bg_border_r.svg); */
  /* background:
    content-box no-repeat left center / auto 100% url(/bg_border_l.svg); */
}


#content:has(>div>*[data-w-auto]) {
  flex: unset;
}

#content:has(>div>*[data-no-wrapper]) {
  padding:0;
  flex: unset;
}

 #content:has(>div>*[data-no-wrapper])::before, #content:has(>div>*[data-no-wrapper])::after {
  content: none;
}

#content img {
  max-height: 100%;
  object-fit: contain;
}

#content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding-right: 100px;
  background: content-box no-repeat left center / auto 100% url(/bg_border_l.svg);
}

#content::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100px;
  background: no-repeat right center / auto 100% url(/bg_border_r.svg);
}

.mask-start {
  mask-image: linear-gradient( 135deg, #f9efda 50%, rgba(249, 239, 218, 0.06) 68%, transparent );
}
